* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	background-color: #e0e0e0;
	height: 100vh;
	overflow: hidden;
}
main {
	padding: 15px;
}
h1 {
	padding: 0;
	margin: 0;
	height: 35px;
	font: bold 20px Helvetica, Arial, sans-serif;
}
.input-output {
	display: flex;
	height: 100%;
}
.input,
.output {
	flex: 1;
	height: calc(100vh - 110px);
	margin: 0;
	padding: 15px;
	background-color: black;
	color: #e0e0e0;
	border: none;
	font: 14px Monaco, Consolas, monospace;
	overflow: auto scroll;
}
.input {
	margin-right: 8px;
}
.output {
	margin-left: 8px;
}
.submit {
	margin: 15px 0 0 0;
	border: none;
	padding: 8px 12px;
	background-color: #2e82fa;
	color: white;
	border-radius: 6px;
	font: bold 14px Helvetica, Arial, sans-serif;
}
.submit:hover {
	background-color: #0d58c3;
	cursor: pointer;
}
